@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Lexend+Deca:wght@100;200;300;400;500;600;700&family=Poppins:wght@300;400;600&display=swap');
.body{
overflow-y: auto;
height:330px;
background-color:rgb(235, 229, 229)
}

.screen p{
    margin: 0px;;
}
.search-input {
   padding: 10px 10px ;
   font-family: Poppins;
   font-size: 16px;
   width: 100px;
   text-align: center;
   cursor: pointer;
   margin-bottom: 20px;
  }
.heading{
    font-family: Poppins;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 20px;
}
.sub-heading{
    font-family: Poppins;
    font-weight: 400;
    padding-bottom: 10px;
    font-size: 16px;
}
.screen{
    background-color: blueviolet;
    color:white
}
.container{
    width: 400px;
    /* height: 500px; */
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:100%;
background-color: rgba(255, 166, 0, 0.863);
}
.user-info{
    display: flex;
    align-items: center;
    gap:10px;
}
.user-details .user-name{
    text-align: start;
    text-transform: capitalize;
}
.user-img{
    height:60px;
    width: 60px;
    border-radius: 50%;
}
.users-info{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.hide{
    display: none;
}
a:visited{
    color: blue;
}
a:link {
    color:blue;
  }
  a:hover {
    color: grey;
  }
  a:active {
    color: purple;
  }
  .user-name{
      font-family: Poppins;
      font-size: 16px;
      font-weight: 600;
  }